###########################################
# Files and folders to ignore in this repo #
###########################################
# Folders 
data/
docs/[0-9]*
work/
results/
protein-fold/

# Development
.nextflow*
*.log
*.todo
.vscode/
*.Rproj
.Rproj.user
.Rhistory
.rds
.RData
.Ruserdata
.lintr
.README_VAULT.md

# Container
conf/containers/*.sif