###########################################
# Files and folders to ignore in this repo #
###########################################
# Folders 
data/
docs/[0-9]*
work/
results/

# Development
.nextflow*
*.log
.vscode/
*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
.lintr
.README_VAULT.md

# Container
conf/containers/*.sif