// nextflow.config
nextflow.enable.dsl = 2

// Params configuration
params {
    // Directories and files
    results_dir = '/mnt/c/Users/qp241615/OneDrive - Queen Mary, University of London/Documents/4. Projects/1. DHX34/results'
    smallvar_annot_dir = '/mnt/c/Users/qp241615/OneDrive - Queen Mary, University of London/Documents/4. Projects/1. DHX34/data/raw_data/WGS_Variants/smallVar'
    structvar_annot_dir = '/mnt/c/Users/qp241615/OneDrive - Queen Mary, University of London/Documents/4. Projects/1. DHX34/data/raw_data/WGS_Variants/StructuralVar'
    prot_dir = '/mnt/c/Users/qp241615/OneDrive - Queen Mary, University of London/Documents/4. Projects/1. DHX34/data/reference/Protein'
    exon_dir = '/mnt/c/Users/qp241615/OneDrive - Queen Mary, University of London/Documents/4. Projects/1. DHX34/data/reference/Exon'

    // Genome assembly versions
    gene_list   = '/mnt/c/Users/qp241615/OneDrive - Queen Mary, University of London/Documents/4. Projects/1. DHX34/data/gene_list.txt'
    genome_assembly = "GRCh38"
    
}

workDir = '/mnt/c/Users/qp241615/OneDrive - Queen Mary, University of London/Documents/4. Projects/1. DHX34/work'

// Work directory 
workDir = 'work'

// Configuración de manifest
manifest {
    name = 'mi_proyecto'
    author = 'Daniel Mouzo'
    homePage = 'https://github.com/tu_usuario/tu_proyecto'
    description = 'Descripción de tu pipeline'
    mainScript = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version = '1.0.0'
}

// Logs and reports configuration
timeline {
    enabled = true
    file = "${params.results_dir}/pipeline_info/execution_timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.results_dir}/pipeline_info/execution_report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.results_dir}/pipeline_info/execution_trace.txt"
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes'
}

dag {
    enabled = true
    file = "${params.results_dir}/pipeline_info/pipeline_dag.svg"
}


// Process configuration
process {
    cpus = 1
    memory = '2 GB'
    time = '1h'
}