// nextflow.config
nextflow.enable.dsl = 2

// Params configuration based on YAML
params {
     // Project information
    project_code = "RR771"
    project_name = "Deciphering the clinical and genetic landscape of patients with germline DHX34 variants"
    project_author = "dmouzo"
    project_contact = "gp241615@qmul.ac.uk"
    start_date = "16-07-2025"
    genome_assembly = "GRCh38"

    // Templates directory
    templates_dir = "${projectDir}/conf/templates/"

    // DBs
    enable_sql_queries = false  // overwritten by profiles
    labkey_main = "/main-programme/main-programme_v19_2024-10-31"
    labkey_nhs = "unknown"

    // VEP annotation control
    enable_vep_annotation = true  // overwritten by profiles

    // Report generation control
    enable_quarto_report = true  // overwritten by profiles

}

// Process configuration
process {
    maxForks = 3
}

// Common manifest
manifest {
    name = params.project_code
    author = "${params.project_author} <${params.project_contact}>"
    description = params.project_name
    mainScript = 'main.nf'
}



// Profile configuration
profiles {
    standard {
         // Default profile - points to personal_pc
        params {
            // Paths
            raw_data_dir = "${projectDir}/data/raw_data"
            processed_data_dir = "${projectDir}/data/processed"
            smallvar_annot_dir = "${projectDir}/data/raw_data/WGS_Variants/smallVar"
            structvar_annot_dir = "${projectDir}/data/raw_data/WGS_Variants/structuralVar"
            bci_patients_var_dir = "${projectDir}/data/raw_data/BCI_patients/"
            bci_annotated_dir = "${projectDir}/data/raw_data/BCI_patients/Annotated"
            prot_dir = "${projectDir}/data/reference/Protein"
            exon_dir = "${projectDir}/data/reference/Exon"
            results_dir = "${projectDir}/results"
            logs_dir = "${projectDir}/results/pipeline_info/logs"
            gene_list = "${projectDir}/data/gene_list.txt"

            // Environment info
            environment_type = 'personal_pc'
            environment_executor = 'local'
        }
        
        workDir = "/mnt/c/scratch"
        
        process {
            executor = 'local'
            cpus = 1
            memory = "2 GB"
            time = "1h"
        }
        
        includeConfig 'conf/reports.config'
    }
    
    personal_pc {
        params {         
            // Paths
            raw_data_dir = "${projectDir}/data/raw_data"
            processed_data_dir = "${projectDir}/data/processed"
            smallvar_annot_dir = "${projectDir}/data/raw_data/WGS_Variants/smallVar"
            structvar_annot_dir = "${projectDir}/data/raw_data/WGS_Variants/structuralVar"
            bci_patients_var_dir = "${projectDir}/data/raw_data/BCI_patients/"
            bci_annotated_dir = "${projectDir}/data/raw_data/BCI_patients/Annotated"
            prot_dir = "${projectDir}/data/reference/Protein"
            exon_dir = "${projectDir}/data/reference/Exon"
            results_dir = "${projectDir}/results"
            logs_dir = "${projectDir}/results/pipeline_info/logs"
            gene_list = "${projectDir}/data/gene_list.txt"

            // Environment info
            environment_type = 'personal_pc'
            environment_executor = 'local'
        }

        workDir = "/mnt/c/scratch"

        env {
            SINGULARITY_TMPDIR = "/tmp"
            SINGULARITY_CACHEDIR = "/tmp/singularity-cache"
            NXF_SINGULARITY_CACHEDIR = "/tmp/singularity-cache"
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "/tmp/singularity-cache"
            runOptions = "--cleanenv --containall"
        }

        process {
            executor = 'local'
            cpus = 1
            memory = "2 GB"
            time = "1h"

            withLabel: 'r_process' {
                cpus = 1
                memory = "3 GB"
                time = "2h"
                container = "/mnt/c/containers/container_r_clean.sif" //link to conf/containers
            }

            withLabel: 'vep_process' {
                cpus = 1
                memory = "3 GB"
                time = "2h"
                container = "/mnt/c/containers/vep_115.sif" //link to conf/containers
            }

            withLabel: 'quarto_process' {
                cpus = 1
                memory = "3 GB"
                time = "2h"
                container = "/mnt/c/containers/container_r_quarto_hybrid.sif" //link to conf/containers
            }
        }
        
        includeConfig 'conf/reports.config'
    }

    hpc_apocrita {
        params {
            // Paths
            raw_data_dir = "${projectDir}/data/raw_data"
            processed_data_dir = "${projectDir}/data/processed"
            smallvar_annot_dir = "${projectDir}/data/raw_data/WGS_Variants/smallVar"
            structvar_annot_dir = "${projectDir}/data/raw_data/WGS_Variants/structuralVar"
            bci_patients_var_dir = "${projectDir}/data/raw_data/BCI_patients/"
            bci_annotated_dir = "${projectDir}/data/raw_data/BCI_patients/Annotated"
            prot_dir = "${projectDir}/data/reference/Protein"
            exon_dir = "${projectDir}/data/reference/Exon"
            results_dir = "${projectDir}/results"
            logs_dir = "${projectDir}/results/pipeline_info/logs"
            gene_list = "${projectDir}/data/gene_list.txt"

            // Environment info
            environment_type = 'apocrita'
            environment_executor = 'sge'
        }
        
        workDir = "/data/scratch/qp241615/work"
        
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = '/data/scratch/qp241615/singularity-cache'
        }

        process {
            executor = 'sge'
            cpus = 2
            memory = "8 GB"
            time = "2h"
            penv = 'smp'
            
            withLabel: 'r_process' {
                cpus = 2
                memory = "16 GB"
                time = "2h"
                container = '/data/BCI-KRP/projects/RR771-DHX34/conf/containers/container_r_clean.sif'
            }

            withLabel: 'vep_process' {
                cpus = 1
                memory = "3 GB"
                time = "2h"
                container = "${projectDir}/conf/containers/vep_115.sif"
            }

            withLabel: 'quarto_process' {
                cpus = 2
                memory = "8 GB"
                time = "3h"
                container = "${projectDir}/conf/containers/container_r_quarto_hybrid.sif"
            }
        }
        
        includeConfig 'conf/reports.config'
    }
    
    ge_pc {
          params {
            // Paths
            project_base_dir = "/home/dmouzo/Documents/dmouzo cluster/RR771"
            raw_data_dir = "${params.project_base_dir}/data/raw_data"
            processed_data_dir = "${params.project_base_dir}/data/processed"
            smallvar_annot_dir = "${params.project_base_dir}/data/raw_data/WGS_Variants/250807_small_variant_100K_DDX41_DHX34/results"
            structvar_annot_dir = "${params.project_base_dir}/data/raw_data/WGS_Variants/250812_structural_variant_100K_DDX41_DHX34/results"
            bci_patients_var_dir = "${params.project_base_dir}/data/raw_data/BCI_patients"
            bci_annotated_dir = "${params.project_base_dir}/data/raw_data/BCI_patients/Annotated"
            prot_dir = "${params.project_base_dir}/data/reference/Protein"
            exon_dir = "${params.project_base_dir}/data/reference/Exon"
            results_dir = "${params.project_base_dir}/results"
            logs_dir = "${params.project_base_dir}/results/pipeline_info/logs"
            gene_list = "${params.project_base_dir}/conf/gene_list.txt"

            // Templates path
            templates_dir = "${params.project_base_dir}/conf/templates/"

            // Environment info
            enable_sql_queries = true
            environment_type = 'ge_local'
            environment_executor = 'local'
            enable_vep_annotation = false   // No internet access
            enable_quarto_report = false    // No singularity for quarto container
        }
        
        workDir = "/nas/weka.gel.zone/re_scratch/re_gecip/cancer_haem/dmouzo"
        
        process {
            executor = 'local'
            cpus = 2
            memory = "4 GB"
            time = "1h"

            withLabel: 'r_process' {
                beforeScript = """
                module load R/4.3.3
                export R_LIBS_USER="/home/dmouzo/R/x86_64-pc-linux-gnu-library/4.3:/tools/aws-workspace-apps/ce/R/4.3.3"
                """
            }
        }
    }

    ge_hpc{
        params {
            project_base_dir = "/re_gecip/shared_allGeCIPs/dmouzo/RR771"
            raw_data_dir = "${params.project_base_dir}/data/raw_data"
            processed_data_dir = "${params.project_base_dir}/data/processed"
            smallvar_annot_dir = "${params.project_base_dir}/data/raw_data/WGS_Variants/250807_small_variant_100K_DDX41_DHX34/results"
            structvar_annot_dir = "${params.project_base_dir}/data/raw_data/WGS_Variants/250812_structural_variant_100K_DDX41_DHX34/results"
            bci_patients_var_dir = "${params.project_base_dir}/data/raw_data/BCI_patients"
            bci_annotated_dir = "${params.project_base_dir}/data/raw_data/BCI_patients/Annotated"
            prot_dir = "${params.project_base_dir}/data/reference/Protein"
            exon_dir = "${params.project_base_dir}/data/reference/Exon"
            results_dir = "${params.project_base_dir}/results"
            logs_dir = "${params.project_base_dir}/results/pipeline_info/logs"
            gene_list = "${params.project_base_dir}/conf/gene_list.txt"
            templates_dir = "${params.project_base_dir}/conf/templates/"

            enable_sql_queries = true
            environment_type = 'ge_hpc'
            environment_executor = 'lsf'
            enable_vep_annotation = false
        }
        
        workDir = "/re_scratch/re_gecip/cancer_haem/dmouzo"

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = '/re_scratch/re_gecip/cancer_haem/dmouzo/singularity-cache'
        }
        
        process {
            executor = 'lsf'
            queue = 'short'
            cpus = 2
            memory = '4 GB'
            time = '2h'
            
            beforeScript = 'module load singularity/4.1.1'

            withLabel: 'r_process' {
                queue = 'short'
                cpus = 3
                memory = '8 GB'
                time = '4h'
                clusterOptions = '-P re_gecip_cancer_haem -R "rusage[mem=8000]"'
                
                containerOptions = [
                    '--bind /home/dmouzo/.netrc:/home/dmouzo/.netrc:ro',
                    '--bind /home/dmouzo/.condarc:/home/dmouzo/.condarc:ro',
                    '--bind /home/dmouzo/.Renviron:/home/dmouzo/.Renviron:ro',
                    '--bind /home/dmouzo/.Rprofile:/home/dmouzo/.Rprofile:ro',
                    '--bind /etc/pki/tls/certs/ca-bundle.crt:/opt/miniconda3/envs/r_env/ssl/cacert.pem:ro'
                ].join(' ')
                
                beforeScript = """
                module load singularity/4.1.1
                export HOME=/home/dmouzo
                export USER=dmouzo
                """
                
                container = "${params.project_base_dir}/conf/containers/container_r_clean.sif"
            }

            withLabel: 'quarto_process' {
                queue = 'short'
                cpus = 2
                memory = '4 GB'
                time = '3h'
                clusterOptions = '-P re_gecip_cancer_haem -R "rusage[mem=4000]"'
                beforeScript = """
                module load singularity/4.1.1
                
                export HOME=/root
                export USER=root
                export SSL_CERT_FILE=/opt/miniconda3/envs/r_env/ssl/cacert.pem
                export CURL_CA_BUNDLE=/opt/miniconda3/envs/r_env/ssl/cacert.pem
                """
                container = "${params.project_base_dir}/conf/containers/container_r_quarto_hybrid.sif"
            }
        }
    }
}



