// conf/reports.config
timeline {
    enabled = true
    file = "${params.results_dir}/pipeline_info/execution_timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.results_dir}/pipeline_info/execution_report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.results_dir}/pipeline_info/execution_trace.txt"
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes'
    overwrite = true
}

dag {
    enabled = true
    file = "${params.results_dir}/pipeline_info/pipeline_dag.svg"
    overwrite = true
}